.question
  .question__main
    .question__main__top
      .question__main__top__count
    .question__main__title
      と け い は  な ん じ ？
    .question__main__clock
      .question__main__clock__image
  .question__select
    .question__select__top
      = image_tag "title.png", class:"menu-title"
    .question__select__choise
      %button{type: "button", class:'one'}
        .question__select__choise__one
    .question__select__choise
      %button{type: "button", class:'two'}
        .question__select__choise__two
    .question__select__choise
      %button{type: "button", class:'three'}
        .question__select__choise__three
