.question
  .question__main
    .question__main__top
      .question__main__top__count
    .question__main__title
      と け い は  な ん じ ？
    .question__main__clock
  .question__select
    .question__select__top
    .question__select__choise
    .question__select__back
    .question__select__icon
  .quiz_result