.question{
  height: 100vh;
  display: flex;
  position: relative;
  background-image: url(back2.png);
  &__main{
    height: 100%;
    width: 60%;
    &__top{
      height: 15%;
      &__count{
        height: 110%;
        width: calc(100vh / 5);
        margin-left: 20px;
        background-color: honeydew;
      }
    }
    &__title{
      height: 10%;
      padding-top: 20px;
      text-align: center;
      font-size: 50px;
      font-weight: bold;
    }
    &__clock{
      height: 65%;
      display: flex;
      justify-content: center;
      align-items: center;
      &__image{
        height: 80%;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  &__select{
    height: 100%;
    width: 40%;
    &__top{
      height: 15%;
      padding-top: 30px;
      text-align: center;
    }
    &__choise {
      height: 75%;
      li{
        display: block;
        height: 160px;
        width: 550px;
        margin-top: 40px;
        padding-top: 40px;
        border: 1px solid #312626;
        text-align: center;
        font-size: 60px;
        border-radius: 20px;
        cursor: pointer;
        background-color: #f5e12d;
      }
    }
  }
  .question__select__back{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    color: #FFF;
    text-align: center;
  }
  
  .question__select__icon{
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    //transform: translate(5%, -35%);
    z-index: 3000;
    display: none;
    font-weight: bold;
    -webkit-text-stroke: 4px #FFF;
  }
}

.question__select__icon.true, .question__select__icon.false{
  display: block;
}

.question__select__icon.true:before{
  content: '〇';
  position: absolute;
  transform: translate(5%, -45%);
  font-size: 500px;
  color: red;
}

.question__select__icon.false:before{
  content: '×';
  position: absolute;
  transform: translate(5%, -55%);
  font-size: 750px;
  color: blue;
}

.question .question__main .question__select{
  content: "";
  display: block;
  clear: both;
}

.question  {
  box-sizing: border-box;
  padding: 15px;
  border: 4px solid #CCC;
  font-weight: bold;
}

.question .question__select .quiz_result{
  display: none;
  text-align: center;
}

.clocks{
  text-align: center;
  height: 500px;
  width: 500px;
}