
.menu{
  height: 100vh;
  width: 100%;
  background-image: url(back2.png);
 &__header{
   height: 20%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 5px;
   &__title{
     margin-left: 490px;
     margin-bottom: 25px;
   }
   &__side{
    margin-left: 400px;
   }
  }
 &__body{
   height: 45%;
   &__select{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     padding-top: 20px;
     &__image{
       border-radius: 100px;
       position: relative;
     }
     &__word{
      position: absolute;
      width: 180px;
      height: 50px;
      font-size: 222%;
      margin-left: 43px;
      font-weight: bold;
      text-align: center;
      bottom: 515px;
      color: black;
     }
    }
 }
 &__footer{
   height: 35%;
   width: auto;
   &__select{
     height: 69%;
     display: flex;
     justify-content: space-between;
     &__image{
       height: 190px;
       width: 190px;
       position: relative;
     }
     &__word{
       position: absolute;
       font-size: 150%;
       margin-left: 60px;
       font-weight: bold;
       text-align: center;
       bottom: 90px;
       color: black;
     }
   }
   &__grass{
     height: 31%;
     //background-image: url(shiva.png);
     background: linear-gradient((#2aca69), (#149e3f), (#0b7125), (#09581d));
   }
 }
}

.menu-title{
  height: 60px;
  width: 300px;
}

.sun{
  height: 90px;
  width: 90px;
}

.menu-btn{
  height: 130px;
  width: 250px;
}

.mypage{
  height: 190px;
  width: 190px;
}

.logout{
  height: 190px;
  width: 190px;
}