.top{
  height: 100%;
  width: 100%;
  background-image: url(back.png);
  .top-header{
    display: flex;
    justify-content: center;
    align-items: center;
    &__title{
      height: 250px;
      padding-top: 15px;
    }
  }
  .top-body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    &__select{
      display: block;
      width: 27%;
      height: 210px;
      position: relative;
      &__word{
        position: absolute;
        width: 180px;
        height: 110px;
        font-size: 222%;
        margin-left: 100px;
        font-weight: bold;
        text-align: center;
        bottom: 4px;
        color: black;
      }
    }
  }
  .top-footer{
    display: flex;
    justify-content: center;
    height: 40vh;
    &__icon{
      margin-top: 5%;
    }
  }
}

.kumo-btn{
  height: 200px;
  width: 365px;
  margin: 10px;
  border-radius: 100px;
}

.index-btn{
  border-radius: 100px;
}

.index-btn:hover{
  opacity: .8;
}