.mypage
  .mypage__header
    .mypage__header__user
      .mypage__header__user__title
        お な ま え
      .mypage__header__user__place
        .mypage__header__user__place__name
    .mypage__header__edit
      .mypage__header__edit__icon
  .mypage__body
    .mypage__body__title
  .mypage__footer
    .mypage__footer__score
      .mypage__footer__score__total
      .mypage__footer__score__back
    .mypage__footer__character
      .mypage__footer__character__dialogue
      .mypage__footer__character__icon